@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"); 
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"), 
    url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"); 
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff") format("woff"), 
    url("../fonts/Raleway-Regular.woff2") format("woff2"); 
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway-Medium.woff2") format("woff2"); 
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), 
    url("../fonts/Raleway-SemiBold.woff2") format("woff2"); 
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff") format("woff"), 
    url("../fonts/Raleway-Bold.woff2") format("woff2"); 
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff"), 
    url("../fonts/Raleway-ExtraBold.woff2") format("woff2"); 
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff"), 
    url("../fonts/Roboto-Regular.woff2") format("woff2"); 
  font-weight: 400;
  font-style: normal;
}


body {
  min-width: 1230px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  border: none;
  border-radius: 3px;
  box-shadow: 0 -3px #736357 inset;
  
  font-family: "Raleway";
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: #998675;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.btn:hover {
  background-color: #827061;
}

.btn:active {
  background-color: #544a40;
  box-shadow: none;
}



.page-header {
  color: #ffffff;
  background-color: #484642;
  overflow: hidden;
}

.page-header__menu { 
  position: relative;
	margin: 0 auto;
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  
	width: 1170px;
	padding: 0 30px;
  padding-top: 40px;
}

.menu__column-1 {
  margin-right: 217px;
}

.logo__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: -0.8px;
}

.logo__image {
  fill: #ffffff;
  transition: all 0.1s ease-out;
}

.logo__name {
  padding-top: 1px;
  padding-left: 3px;
  transition: all 0.1s ease-out;
}

.logo:hover .logo__name {
  color: #c7b299;
}

.logo:active .logo__name {
  color: #a99782;
}

.menu__column-2 {
  margin-right: 63px;
}

.main-nav__list{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  max-width: 90px;
  margin-right: 28px;
  margin-bottom: 4px;
  padding-top: 2px; 
  text-align: center;
  vertical-align: center;
}

.main-nav__item:last-child {
  margin-right: 0px;
}

.main-nav__link {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  transition: all 0.1s ease-out;
}

.main-nav__link:hover {
  color: #c7b299;
}

.main-nav__link:active {
  color: #a99782;
}

.menu__column-3 {
  margin: 0;
  padding: 0;
}

.user-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.user-list__item {
  padding-right: 28px;
  padding-top: 2px;
}

.user-list__item:last-child {
  padding-right: 0;
}

.main-nav__item--active .main-nav__link {
  color: #c7b299;
}

.user-list__icon {
  fill: #ffffff;
  transition: all 0.1s ease-out;
}

.user-list__item:hover .user-list__icon {
  fill: #c7b299;
}

.user-list__item:active .user-list__icon {
  fill: #a99782;
}



.page-header__slider {
  padding-top: 252px;
  text-align: center;
}

.page-header__background {
  position: relative;
  min-width: 1230px;
  max-width: 100%;
  height: 1024px;
  background-size: cover;
  overflow: hidden;
}

.slide-2 {
  background: #4B4843 url("../img/page-header__background/slide-2.jpg") center no-repeat;
  background-size: cover;
}

.slider__slide {
  margin: 0 auto;
}

.slide {
  width: 590px;
  padding: 25px 20px;
  vertical-align: center;
  text-align: center; 
}

.slide__promo {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  
  font-family: "Raleway";
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
}

.slide__title {
  padding: 0;
  margin: 0;
  margin-left: -3px;
  margin-bottom: 12px;
  
  font-family: "Raleway";
  font-weight: 800;
  font-size: 52px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.005em;
}

.slide__text {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.slide__button {
  display: inline-block;
  min-width: 140px;
  padding: 15px 15px;
  padding-top: 16px;
  padding-bottom: 14px;
  letter-spacing: 0.005em;
}

.slider__prev,
.slider__next {
  position: absolute;
  top: 475px;

  padding: 0;
  width: 40px;
  height: 73px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider__prev::before,
.slider__next::before{
  position:absolute;
  content: "";
  top:-15vh;
  right:-14vw;
  left:-14vw;
  bottom:-15vh;
}

.slider__prev {
  left: 150px;
}

.slider__next {
  right: 150px;
}

.slider__prev .slider__prev-svg,
.slider__next .slider__next-svg {
  fill: #ffffff;
  opacity: 0.5;
  transition: all 0.1s ease-out;
}

.slider__prev:hover .slider__prev-svg,
.slider__next:hover .slider__next-svg {
  fill: #d3c1ad;
  opacity: 1;
}

.slider__prev:active .slider__prev-svg,
.slider__next:active .slider__next-svg {
  fill: #a99782;
  opacity: 1;
}

.slider__toggles {
  position: absolute;
  width: 370px;
  left: 50%;
  margin-left: -187px;
  bottom: 40px;
  font-size: 0;
}
 
.slider__toggle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  text-align: center
}

.slider__toggle:last-child {
  margin-right: 0px;
}

.slider__toggle--active { 
  cursor: default;
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: transparent;
  border: 2px solid #d3c1ad;
}

.slider__toggle:not(.slider__toggle--active):hover {
  opacity: 1;
  background-color: #d3c1ad;
}



.page-main {
  height: auto;
  padding: 0;
  margin: 0;
}

.services {
  display: flex;
  justify-content: center;
  align-items: stretch;
  
  width: 1170px;
  min-height: 373px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  
  background-color: #ffffff;
  color: #c7b299;
}

.services__item {
  position: relative;
  flex: 0 0 auto;
  width: 270px;
  margin-right: 30px;
  
  text-align: center;
  background-color: #ffffff;
}

.services__item:nth-of-type(1){
  padding-top: 81px;
}

.services__item:nth-of-type(2){
  padding-top: 89px;
}

.services__item:nth-of-type(3){
  padding-top: 84px;
}

.services__item:nth-of-type(4){
  padding-top: 92px;
}

.services__item:last-of-type{
  margin-right: 0;
}

.services__item::after {
  position: absolute;
  content: "";
  bottom: 80px;
  left: 100px;
  width: 70px;
  height: 3px;
  
  background-color: #f1eee9;
  transition: all 0.1s ease-out;
}
  
.services__link {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.services__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  overflow: hidden;
  
  fill: #555555;
  transition: all 0.1s ease-out;
}

.services__item:nth-of-type(1) .services__icon {
  margin-bottom: 24px;
}

.services__item:nth-of-type(2) .services__icon {
  padding-left: 2px;
}

.services__item:nth-of-type(4) .services__icon {
  padding-left: 7px;
}

.services__title {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  
  font-family: "Raleway";
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  color: #555555;
  text-indent: 3px;
  transition: all 0.1s ease-out;
}

.services__description {
  padding: 0;
  margin: 0;
  padding-bottom: 108px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 24px;
  letter-spacing: -0.002em;
}

.services__item:hover .services__icon  {
  fill: #c7b299;
}

.services__item:hover .services__title  {
  color: #c7b299;
}

.services__item:hover::after {
  background-color: #c7b299;
}

.services__item:active .services__icon {
  fill: #a99782;
}

.services__item:active .services__title  {
  color: #a99782;
}

.services__item:active::after {
  background-color: #a99782;
}



.ideas {
  width: 100%;
  min-height: 700px;
  padding: 0;
  margin: 0;
  
  color: #555555;
  background: #fbfaf8 url("../img/ideas/background-ideas.png") bottom no-repeat;
}

.ideas__wrapper {
  width: 1230px;
  margin: 0 auto;
  padding: 0;
  padding-top: 77px;
  padding-bottom: 516px;
  
  text-align: center;
}

.ideas__title {
  margin: 0;
  margin-bottom: 15px;
  padding-right: 230px;
  padding-left: 230px;

  font-size: 30px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  letter-spacing: 0.005em;
}

.ideas__description {
  margin: 0;
  padding-left: 230px;
  padding-right: 230px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  letter-spacing: -0.005em;
}



.purchase {
  width: 100%;
  min-height: 150px;
  background-color: #000000;
  color: #ffffff; 

  background-image: -moz-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.purchase__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.purchase__left-column {
  width: 570px;
  flex: 0 0 auto;
  
  text-align: left;
  padding-top: 25px;
  padding-bottom: 30px;
}

.purchase__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  
  font-family: "Raleway";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  color: #ffffff;
}

.purchase__title__first-word {
  color: #c7b299;
}

.purchase__description {
  margin: 0;
  padding: 0;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.005em;
  color: #ffffff;
  opacity: 0.3;
  text-indent: -2px;
}

.purchase__right-column {
  width: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  flex: 0 0 auto;
  text-align: right;
}

.purchase__button {
  display: inline-block; 
  max-width: 150px;
  padding: 14px 29px;
  padding-bottom: 13px;
  padding-left: 27px;
  
  text-align: center;
}



.projects {
  background-color: #ffffff;
  color: #555555;
  padding-bottom: 80px;
}

.projects__wrapper {
  width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 75px;
  
  text-align: center;
}

.projects__title {
  width: 770px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;

  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
}

.projects__text {
  width: 770px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding: 0;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: -0.005em;
  color: #8c8c8c;
}

.projects__filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 1px;
  
  list-style: none;
}

.projects__filter {
  margin-right: 10px;
  margin-bottom: 10px;
}

.projects__filter:last-child {
  margin-right: 0;
}

.projects__filter-link {
  display: block;
  padding: 5px 20px;
  padding-bottom: 4px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.005em;
  color: #8c8c8c;
  background-color: #ffffff;
  transition: all 0.1s ease-out;
}

.projects__filter:nth-child(1) .projects__filter-link {
  padding: 5px 26px;
  padding-left: 25px;
  padding-bottom: 4px;
}

.projects__filter:nth-child(2) .projects__filter-link {
  padding: 5px 17px;
  padding-bottom: 4px;
}

.projects__filter:nth-child(4) .projects__filter-link {
  padding: 5px 22px;
  padding-bottom: 4px;
}

.projects__filter:nth-child(5) .projects__filter-link {
  padding: 5px 22px;
  padding-bottom: 4px;
}

.projects__filter--active .projects__filter-link {
  background-color: #998675;
  color: #ffffff;
  border: 1px solid #998675;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 10px;
}

.projects__item  {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.project {
  position: relative;
  box-sizing: border-box;
  width: 370px;
  padding-bottom: 25px;
  
  text-align: left;
  background-color: #fbfaf8;
  transition: all 0.3s ease-out;
}

.project:nth-child(3n) {
  margin-right: 0;
}

.project:last-child {
  margin-right: 0;
}

.project::before {
  position: absolute;
  content: "";
  top: 209px;
  left: 16px;
  z-index: 15;
  
  width: 0px;
  height: 0px;
  
  border: 18px solid transparent;
  border-bottom: 13px solid #fbfaf8;
  
  transition: all 0.3s ease-out;
}

.project__link {
  position: relative;
  display: block;
  overflow:hidden;
  width: 370px;
  height: 237px;
  margin-bottom: 26px;
  z-index: 10;
}

.project__image {
  transition: all 0.3s ease-out;
}

.project__mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 370px;
  height: 237px;
  
  opacity: 0;
  background-color: #000000;
  transition: all 0.3s ease-out;
}

.project__icon-hover {
  display: none;
  position: absolute;
  z-index: 11;
  fill: #ffffff;
  overflow: hidden;
  transition: all 0.1s ease-out;
}

.project__icon-hover--chain {
  top: 107px;
  left: 145px;
}
  
.project__icon-hover--loupe {
  top: 106px;
  left: 199px;
}

.project__title {
  margin: 0;
  padding: 0 29px;
  margin-bottom: 5px;
  
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  line-height: 24px;
  transition: all 0.3s ease-out;
}

.project__text  {
  margin: 0;
  padding: 0 29px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  color: #d1d1d1;
  line-height: 20px;
  letter-spacing: -0.005em;
  transition: all 0.3s ease-out;
}

.projects__button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 170px;
  padding: 13px 44px;
  padding-top: 14px;
}

.projects__filter-link:hover {
  background-color: #998675;
  color: #ffffff;
  border: 1px solid #998675;
}

.project:hover {
  background-color: #362f2d;
}

.project:hover .project__mask {
  opacity: 0.6;
}
 
.project:hover .project__image{
  transform: scale(1.1);
}

.project:hover::before {
  border-bottom-color: #362f2d;
}

.project:hover .project__title {
  color: #ffffff;
}

.project:hover .project__text {
  color: #c7b299;
}

.project:hover .project__icon-hover {
  display: block;
  position: absolute;
  z-index: 11;
}

.project__icon-hover:hover{
  fill: #c7b299;
}

.project__icon-hover:active{
  fill: #a99782;
}



.video-presentation {
  min-width: 1230px;
  min-height: 705px;
  max-width: 100%;
 
  background: #594f45 url("../img/video-presentation/background-video-presentation.jpg") center no-repeat;
  background-size: cover;
  color: #ffffff;
}

.video-presentation__wrapper {
  width: 570px;
  margin: 0 auto;
  padding-top: 210px;
  padding-bottom: 200px;
  text-align: center;
  vertical-align: center;
}

.video-presentation__link {
  font-size: 0;
}

.video-presentation__icon {
  position: relative;
  width: 70px;
  height: 70px;
  margin-bottom: 34px;
  border-radius: 100%;
  border: 15px solid transparent;
  overflow: hidden;
  fill: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  
  transition: all 0.1s ease-out;
}

.video-presentation__title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  
  font-family: "Raleway";
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.005em;
}

.video-presentation__description {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.75;
  letter-spacing: -0.005em;
}

.video-presentation__duration {
  margin: 0;
  padding: 0;
  
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #c7b299;
  line-height: 24px;
}

.video-presentation__link:hover .video-presentation__icon {
  fill: #c7b299;
  background-color: rgba(0, 0, 0, 0.3);
}

.video-presentation__link:active .video-presentation__icon {
  fill: #a99782;
}



.for-mobile {
  min-height: 695px;
  background-color: #fbfaf8;
  color: #555555;
}

.for-mobile__wrapper {
  position: relative;
  width: 1170px;
  min-height: 695px;
  padding: 0 30px;
  margin: 0 auto;
  
  background: url("../img/for-mobile/background-for-mobile.jpg") no-repeat;
  background-position: 70px bottom;
}

.for-mobile__text-box {
  padding-top: 189px;
  padding-bottom: 60px; 
  margin-left: 500px;
}

.text-box {
  text-align: left;
}

.text-box__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  letter-spacing: 0.002em;
}

.text-box__description {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: #8c8c8c;
  letter-spacing: -0.004em;
}

.text-box__list {
  margin: 0;
  padding-left: 99px;
  list-style: none;
}

.text-box__list-item {
  position: relative;
  margin: 0;
  padding: 0;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  color: #8c8c8c;
  letter-spacing: -0.004em;
}

.text-box__list-item::after {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: -50px;
	top:  5px;
	background-color: #c7b299;
	border-radius: 100%;
}

.text-box__list-item::before {
	position: absolute;
	content: "";
	height: 7px;
	width: 7px;
	left: -44px;
	top: 12px;
  z-index: 10;
  
	background-color: #c7b299;
	-webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
	-webkit-box-shadow: inset -1px -1px 0px 1px #ffffff;
	 box-shadow: inset -1px -1px 0px 1px #ffffff;
}



.statistics {
  width: 100%;
  min-height: 300px;
  
  background-image: -webkit-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
  color: #ffffff;
}

.statistics__wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 69px;
  padding-bottom: 30px;
}
  
.statistics__item {
  position: relative;
  width: 170px;
  margin-right: 30px;
  text-align: center;
}

.statistics__item:last-of-type {
  margin-right: 0;
}

.statistics__item::after {
  position: absolute;
  content: "";
  left: 70px;
  bottom: 0;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
}

.statistics__icon {
  margin-bottom: 25px;
  overflow: hidden;
  fill: #c7b299;
}

.statistics__item:nth-of-type(1) .statistics__icon {
  margin-left: 2px;
}

.statistics__item:nth-of-type(2) .statistics__icon {
  margin-left: -2px;
}

.statistics__item:nth-of-type(5) .statistics__icon {
  margin-left: -2px;
}

.statistics__amount {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 48px;
  line-height: 0.75;
  color: #ffffff;
}

.statistics__appellation {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;

  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-indent: 2px;
}



.recent-posts {
  background-color: #ffffff;
  color: #555555;
}

.recent-posts__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 75px;
  text-align: center;
}

.recent-posts__title {
  margin: 0;
  padding: 0 230px;
  margin-bottom: 15px;
  
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  letter-spacing: 0.005em;
}

.recent-posts__text {
  margin: 0;
  padding: 0 200px;
  margin-bottom: 34px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: #8c8c8c;
  letter-spacing: -0.005em;
}

.recent-posts__list{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.post {
  position: relative;
  width: 370px;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: left;
  z-index: 0;
  
  transition: all 0.3s ease-out;
}

.post:last-child {
  margin-right: 0;
}

.post:nth-child(3n) {
  margin-right: 0;
}

.post__image-link {
  display: block;
  width: 370px;
  height: 220px;
  text-decoration: none;
  overflow: hidden;
}

.post__image {
  margin: 0;
  padding: 0;
  font-size: 0;
  transition: all 0.3s ease-out;
}

.post__date {
  position: absolute;
  top: 20px;
  left: 20px;
  min-width: 50px;
  text-align: center;
  background-color: transparent;
  z-index: 5;
}

.post__date-day {
  display: block;
  height: 29px;
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 7px;
  border-top-left-radius: 2px; 
  border-top-right-radius: 2px;
  
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-indent: 2px;
  color: #ffffff;
  background-color: #363636;
  transition: all 0.3s ease-out;
}

.post__date-month { 
  display: block;
  height: 17px;
  padding-top: 2px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom-left-radius: 2px; 
  border-bottom-right-radius: 2px;
  
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-indent: 2px;
  letter-spacing: 0.005em;
  background-color: #252525;
  transition: all 0.3s ease-out;
}

.post__toggles {
  position: absolute;
  font-size: 0;
  top: 184px;
  left: 136px;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.post__toggle {
  margin-right: 10px;
}

.post__toggle:not(.slider__toggle--active) {
  opacity: 0.3;
}

.post__under-picture {
  margin-top: -5px;
  padding-top: 31px;
  padding-bottom: 27px;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  
  transition: all 0.3s ease-out;
}

.post__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 220px;
  
  opacity: 0;
  background-color: #000000;
  transition: all 0.3s ease-out;
}

.post__title {
  margin: 0;
  padding: 0 28px;
  margin-bottom: 13px;
  
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #555555;
  transition: all 0.3s ease-out;
}

.post__text {
  margin: 0;
  padding: 0 28px;
  margin-bottom: 20px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  letter-spacing: -0.005em;
  transition: all 0.3s ease-out;
}

.post__link {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 28px;
  
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #c7b299;
  transition: all 0.1s ease-out;
}

.post__link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: 10px;
  top: 7px;
  border: 4px solid transparent;
  border-left: 5px solid #c7b299;
  transition: all 0.1s ease-out;
}

.post:hover .post__mask {
  opacity: 0.6;
}

.post:hover .post__img {
  transform: scale(1.1);
}

.post:hover .post__title {
  color: #c7b299;
}

.post:hover .post__text {
  color: #ffffff;
}

.post:hover .post__under-picture {
  background-color: #362f2d;
  border-color: #362f2d;
}

.post:hover  .post__date-day {
  background-color: #c7b299;
}

.post:hover  .post__date-month {
  background-color: #a48d72;
}

.post:hover .post__image {
  transform: scale(1.1);
}

.post__link:hover {
  color: #e2cfb8;
}

.post__link:hover::before {
 border-left-color: #e2cfb8;
}

.recent-posts__navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 92px;
  margin: 0 auto;
  padding-bottom: 107px;
  text-align: center;
}

.recent-posts__prev,
.recent-posts__next {
  position: relative;
  border: none;
  margin-top: 0px;
  padding: 0;
  cursor: pointer;
  background-color: #d1d1d1;
}

.recent-posts__prev::after,
.recent-posts__next::after {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: -42px;
	top:  5px;
	background-color: #ffffff;
	border-radius: 100%;
  border: 2px solid #d1d1d1;
  
  transition: all 0.1s ease-out;
}

.recent-posts__prev::before,
.recent-posts__next::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	left: -36px;
	top: 12px;
	background-color: #ffffff;
	transform: rotate(-45deg);
	box-shadow: inset -2px -2px 0px 0px #d1d1d1;
	z-index: 10;
  
  transition: all 0.1s ease-out;
}

.recent-posts__prev {
  transform: scale(-1, 1);
}

.recent-posts__prev:hover::after ,
.recent-posts__next:hover::after {
  border: 2px solid #c7b299;
}

.recent-posts__prev:hover::before,
.recent-posts__next:hover::before {
  box-shadow: inset -2px -2px 0px 0px #c7b299;
}

.recent-posts__prev:active::after ,
.recent-posts__next:active::after {
  border: 2px solid #a99782;
}

.recent-posts__prev:active::before,
.recent-posts__next:active::before {
  box-shadow: inset -2px -2px 0px 0px #a99782;
}



.partners {
  min-width: 1230px;
  min-height: 489px;
  max-width: 100%;
  margin: 0;
  background: #555556 url("../img/partners/background-partners.jpg") no-repeat center;
  background-size: cover;
  color: #ffffff
}

.partners__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  width: 1170px;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 100px;
}

.partners__logo {
  display: block;
  margin-right: 90px;
  margin-bottom: 30px;
  background-image: url(../img/partners/pastners-sprite.png);
  background-repeat: no-repeat;
}

.partners__logo:nth-child(1) {
  width: 210px;
  height: 127px;
  background-position: -5px -5px;
  margin-top: -1px;
}

.partners__logo:nth-child(2) {
  width: 210px;
  height: 210px;
  background-position: -5px -142px;
}

.partners__logo:nth-child(3) {
  width: 210px;
  height: 130px;
  background-position: -5px -362px;
  margin-top: 1px;
}

.partners__logo:nth-child(4n) {
  width: 210px;
  height: 164px;
  background-position: -445px -5px;
  margin-right: 0;
}

.partners__logo:last-child {
  margin-right: 0;
}
  
.partners__logo:nth-child(1):hover {
  background-position: -225px -5px;
}

.partners__logo:nth-child(2):hover {
  background-position: -225px -142px;
}

.partners__logo:nth-child(3):hover {
  background-position: -225px -362px;
}

.partners__logo:nth-child(4):hover {
  background-position: -445px -179px;
}

.partners__logo:active {
  filter: brightness(0.85);
}




.page-footer {
  margin: 0;
  height: 100%;
}



.social{ 
  background-color: #191919;
  color: #ffffff;
}

.social__wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 59px;
}

.social__column {
  width: 270px;
  margin-right: 30px;
  padding-top: 103px;
  text-align: left;
}

.social__column:nth-child(1)  {
  padding-top: 72px;
}

.social__column:last-child {
  margin-right: 0;
  font-size: 0;
}

.social__link-title {
  position: relative;
  display: block;
  text-decoration: none;
  color: #959595;
}

.social__logo {
  position: absolute;
  left: 0px;
  top: 8px;
}

.social__column-title {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: 0.004em;
  text-indent: -2px;
}

.social__column:nth-child(1) .social__column-title {
  padding-left: 66px;
  margin-top: 0px;
  margin-bottom: 24px;
  padding-bottom: 8px;
  padding-top: 15px;  
   
  font-family: "Raleway";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: -0.8px;
  text-indent: 0px;
}

.social__column:nth-child(2) .social__column-title {
  margin-bottom: 7px;
}

.social__column:nth-child(3) .social__column-title {
  margin-bottom: 5px;
}

.social__column:nth-child(4) .social__column-title {
  margin-bottom: 25px;
}

.social__text {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  line-height: 20px;
  transition: all 0.1s ease-out;
}

.social__text--waxom {
  line-height: 24px;
  margin-bottom: 22px;
}

.social__link-waxom {
  position: relative;
  padding-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
}

.social__link-waxom::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: 0;
  top: 6px;
  border: 4px solid transparent;
  border-left: 6px solid #d1d1d1;
  transition: all 0.1s ease-out;
}

.social__link-grey {
  text-decoration: none;
  color: #959595;
  transition: all 0.1s ease-out;
}

.social__link-blue {
  text-decoration: none;
  color: #00bff3;
}

.social__post {
   position: relative;
   padding-top: 15px;
   padding-bottom: 16px;
}

.social__column:nth-child(2) .social__post {
   padding-bottom: 15px;
}

.social__post::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 1px;
   background-color: #252525;
   bottom: 0;
   left: 0;
 }
 
.social__post:last-child::after {
   background-color: transparent;
}

.social__time {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #363636;
  transition: all 0.1s ease-out;
}
 
.social__dribbble-image {
  display: inline-block;
  width: 130px;
  height: 98px;
  margin: 0;
  padding: 0;
  margin-right:10px;
  margin-bottom: 10px;
  background-color: #000000;
  overflow: hidden;
}

.social__dribbble-image:nth-of-type(2n) {
   margin-right: 0px;
}

.social__dribbble-image:nth-of-type(1) {
  background-image: url("../img/social__dribbble-image/photo1.jpg");
}

.social__dribbble-image:nth-of-type(2) {
  background-image: url("../img/social__dribbble-image/photo2.jpg");
}

.social__dribbble-image:nth-of-type(3) {
  background-image: url("../img/social__dribbble-image/photo3.jpg");
}

.social__dribbble-image:nth-of-type(4) {
  background-image: url("../img/social__dribbble-image/photo4.jpg");
}

.social__dribbble-image:hover {
  box-shadow: 0px 0px 3px 1px rgba(199,178,153,1);
}

.social__text--waxom:hover {
  color: #c7b299;
}

.social__link-waxom:hover {
  color: #ffffff;
}

.social__link-waxom:hover::after {
  border-left: 6px solid #ffffff;
}

.social__post:hover .social__link-grey,
.social__link-grey:hover{
  color: #ffffff;
}

.social__post:hover .social__text {
  color: #c7b299;
}

.social__post:hover .social__time {
  color: #ffffff;
}



.copyright {
  min-height: 111px;
  
  background-color: #111111;
  color: #555555;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  
  width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 41px;
}

.copyright__column {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  
  max-width: 500px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  list-style: none;
}

.copyright__column-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 24px;
  margin-bottom: 5px;
  

  font-family: "Montserrat";
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
  letter-spacing: -0.005em;
  transition: all 0.1s ease-out;
}

.copyright__column-item:last-of-type {
  margin-right: 0px;
}

.copyright__column-item::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  top: 4px;
  right: -12px;
  background-color: #252525;
}

.copyright__column-item:last-of-type::after {
  display: none;
}

.copyright__link {
  text-decoration: none;
  color: #555555;
  transition: all 0.1s ease-out;
}

.copyright__link--white {
  color: #959595;
  transition: all 0.1s ease-out;
}

.copyright__link:hover {
  color: #c7b299;
}

.copyright__link--white:hover {
  color: #ffffff;
}
